select{
  margin-left: 25ex;
}
 
.error{
  margin-left: 22ex;
  
}
.header{
  text-align: center;
  font-family:cursive;
  font-weight: 600;
}
#temp{
  display:block
}
body{
  background-color: #e28f83 ;
  
}
header{
  background-color: #f5ba13;
  box-shadow: 0 0 10px 0   ;
  padding: 10px ; 
}
.note{
  background: #fff;
  border-radius: 7px;
  width:240px;
  margin: 50px;
  padding: 10px;
  box-shadow: 0 0 15px;
  float: left;
}
.note1{
  background: #fff;
  border-radius: 7px;
  width:240px;
  margin: 50px;
  padding: 10px;
  box-shadow: 0 0 15px;
  float: left;
}
.input{
  margin:50px 40em ;
  background: #fff;
  border-radius: 7px;
  width:280px;
  height:260px;

  padding: 10px;
  box-shadow: 0 0 15px;
  float: left;
}
.textField{

}